@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Tajawal', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(135deg, #0d9488 0%, #f97316 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
